*{
    margin: 0;
    padding: 0;
    color: blue;
    font-family: Cambria Math;
}
p{
	font-size: 20px;
	text-align: justify;
	text-justify: inter-word;
}
h4{
	font-size: 20px;
}
h3{
	font-size: 22px;
}
h2{
	font-size: 26px;
	text-align: center;
}
h1{
	text-align: center;
}
nav{
	text-align: center;
	background-color: darkblue;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 15px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
nav ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	display: block;
	background: yellow;
	margin: auto;
	transition: 0.5s;
}
nav ul li:hover::after{
	width: 100%;
}
@media(max-width: 900px){
	nav ul li a{
		font-size: 15px;
	}
	h4{
		font-size: 15px;
	}
	h3{
		font-size: 17px;
	}
	h2{
		font-size: 21px;
	}
	h1{
		font-size: 25px;
	}
	p{
		font-size: 15px;
	}
}