<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Book Your Show</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<nav>
    <ul>
        <li><a href="{% url 'home' %}" target="_self">HOME</a></li>
        <li><a href="{% url 'about' %}" target="_self">ABOUT</a></li>
        <li><a href="{% url 'contact' %}" target="_self">CONTACT</a></li>
    </ul>
</nav>
<body>
<p>This is about page</p>
</body>
</html>