{% extends 'movie/base.html' %} {% load static %} {% block style_link %}
<link rel="stylesheet" href="{% static 'styles/book_ticket.css' %}" />
{% endblock %} {% block content %}
<h1 class="display-1">{{movie}}</h1>
<nav aria-label="Date" class="date-view">
  <ul class="pagination pagination-lg">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<br />
<!-- Sample Card -->
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Cinepolis: Seawoods Grand Central</h5>
    <p class="card-text">Navi Mumbai</p>
    <a
      href="{% url 'book_seat' pk=movie.pk show_id=121 %}"
      class="btn btn-outline-success"
      >09:00 AM</a
    >
    <a href="#" class="btn btn-outline-success">12:00 PM</a>
    <a href="#" class="btn btn-outline-success">05:00 PM</a>
    <a href="#" class="btn btn-outline-success">09:00 PM</a>
  </div>
</div>
<hr /> -->

{%for show in shows%}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{show.theatre}}</h5>
    <p class="card-text">{{show.theatre.city}}</p>
    <a
      href="{% url 'book_seat' pk=movie.pk show_id=show.pk %}"
      class="btn btn-outline-success"
      >{{show.time}}</a
    >
  </div>
</div>
{%endfor%} {% endblock %}
